# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Ambiente virtual
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
wheels/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
cover/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Configuração local de ambiente
*.env

# Arquivos de cache e temporários
*.log
*.tmp
*.temp

# VS Code settings
.vscode/
